<app-card-list></app-card-list>
<div class="headline">
  <div class="line"></div>
  <h3>About PrimaSoft</h3>
  <div class="line"></div>
</div>

<p class="description">
  Мы занимаемся разработкой ПО для решения различных практических задач.
</p>

<div class="headline">
  <div class="line"></div>
  <h3>Contacts</h3>
  <div class="line"></div>
</div>
<div class="contacts">
  <div class="mail">
    <img src="/assets/images/mail.png" alt="mail">
    <p> PrimaSoftLLC@gmail.com</p>
  </div>
  <div class="adress">
    <img src="/assets/images/building.png" alt="building">
    <p>220035, Беларусь, Минск, ул. Тимирязева д.67, офис 823</p>
  </div>
</div>
